body {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-image: url('wall2.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}
header{
    color: white;
    text-align: center;
    font-weight: 100;
}
nav {
    /* background-color: black; */
}

#title {
    color: white;
    font-size: 40px;
    font-weight: 100;
    padding: 10px;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: white;
    margin: auto;
    font-size: 30px;
    font-weight: 300;
}