    @font-face {
        font-family: delirium;
        src: url('DeliriumNcv-Vm5e.ttf');
    }

    @font-face {
        font-family: monument;
        src: url('MonumentValley12-X55o.otf');
    }

    body {
        color: white;
        /* font-family: 'Roboto', sans-serif;
         */
        font-family: 'Montserrat', sans-serif;
        ;
        margin: 0;
        background-image: url('wall2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 2000px;
    }

    header {
        color: white;
        text-align: center;
        font-weight: 100;
    }

    nav {
        background-color: rgba(17, 17, 17, 0.5);
        position: sticky;
        position: fixed;
        width: 100%; 
    }

    #title {
        color: white;
        font-size: 60px;
        font-weight: 100;
        /* letter-spacing: 5px; */
        padding: 10px;
        text-align: center;
        /* font-family: delirium;
         */
        font-family: monument;
    }

    .nav-link {
        text-decoration: none;
        color: white;
        margin: auto;
        font-size: 18px;
        font-weight: 200;
        text-transform: uppercase;
    }
 #image{
     float: left;
     width: 50%;
    
 }

button{
    padding: 10px 25px;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: rgb(255, 145, 0);
    color: white;
    font-size: 30px;
}

 section{
     margin-top: 100px;
     text-align: center;
 }

    @media screen and (max-width:1000px){
        #desc{
            float: none;
            width: 100%;
        }
        #image{
            width: 100%;
        }
    }
.row{
    background-color: turquoise;
}